<%- include("includes/header") %>

<div class="container mt-3" >
  <% const posts = locals.posts; console.log( posts); %>

    <% posts.forEach(function(post) { %>
        <% console.log(post); %>
    <div class="card mt-4" >
        <div class="row card-body" >
            <div class="col-auto" >
                <h2> <%= post.title %></h2>
            </div>
         
        </div>
        <div class="row mt-0 card-body" >
            <div class="col-auto" >
                <% var date = post.date; 
                var dd = String(date.getDate()).padStart(2, '0');
                var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = date.getFullYear();
                date =  mm + '/' + dd + '/' + yyyy;
                 %>
                <p class="text-muted" ><img src='<%= post.user_pic %>?s=40' class="img-fluid" alt="user-pic" /> By 
                
                <a class="author" href=""><%= post.user %></a> on <%= date %></p>

            </div>
        </div>
        <div class="row card-body" >
            <div class="col-auto" >
                <h3 class="display-6" ><%= post.description %></h3>
            </div>
        </div>
    </div>
    <% });%>
  
       
   
</div>

<script>
    const author = document.querySelectorAll('.author');
    
    for(var i = 0; i<author.length; i++){
        const userName = author[i].textContent;

        author[i].addEventListener('click', async(e)=> {
            e.preventDefault();
            console.log('value ', userName);
            try {
            
                const res = await fetch('/user', {
                    method : 'POST',
                    headers: {'Content-Type': 'application/json'},
                    mode : 'cors',
                    body : JSON.stringify({userName}),
                    redirect : 'follow'
                });

                const data = await res.json();

                        
                if(res.status == 200 && data.success == true){
                    window.location.assign('/user');
                }
                else{
                    alert('No user exists with this username');
                }
            } catch (error) {
                console.log('there is error in sending data to front-end', error);
            }
            


        });
    }

</script>

<%- include("includes/footer") %>