<%- include("includes/header") %>

<div class="container mt-3" >
  <% const searchedUser = locals.searchedUser; %>
  <div class="row justify-content-between" >
    <div class="col-auto" >
      <img class="img-fluid profile" src="<%= searchedUser.pic  %>" alt="Generic placeholder image"> 
      <h3 class="header" ><%= searchedUser.username  %></h3>
    </div>  
    <% if(user.username !== searchedUser.username ) { %>
      <div class="col-auto" >
        <% const action = user.following.includes(searchedUser._id) ? 'Unfollow' : 'Follow'; %>
        <button type="submit" class="activity btn btn-primary" data-action="<%= action %>" data-follower="<%= user._id %>" data-following="<%= searchedUser._id %>" ><%= action  %></button>    
      </div> 
    <% } %>
  </div>  
</div>

<%- include("includes/footer") %>

<script>
 
 const button = document.querySelector('.activity');

if(button){

 const action = button.getAttribute('data-action');
 const follower = button.getAttribute('data-follower');
 const following = button.getAttribute('data-following');
 console.log('action is ', action);

 

   button.addEventListener('click', async(e) => {
    e.preventDefault();
    try {
      
      const res = await fetch('/activity', {
        method : 'POST',
        headers: {'Content-Type': 'application/json'},
        body :JSON.stringify({action, follower, following}),
        mode : 'cors',
        redirect : 'follow'
      });

      const data = await res.json();

      if(res.status == 200 && data.success == true){
        console.log('activity done successfully');
        window.location.reload();
      }

    } catch (error) {
      console.log("Can't do the activity");
    }

   });
  }

 
</script>